<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Restaurante</title>
</head>
<body>

<h1 th:text="${'Restaurante ' + restaurant.id}"></h1>
<!-- otros atributos: name, averagePrice, active, foodType -->

<p th:text="'Nombre: ' + ${restaurant.name}"></p>

<p th:text="'Precio: ' + ${restaurant.averagePrice != null ? restaurant.averagePrice + ' €' : 'Sin precio, GRATIS'}"></p>

<p th:if="${restaurant.active}" >Estado: <span style="color: green;">Abierto</span></p>
<p th:unless="${restaurant.active}" >Estado: <span style="color: red;">Cerrado</span></p>

<!-- enum, con label para mostrar mejor su texto  -->
<p th:text="${restaurant.foodType != null ? restaurant.foodType.label : 'Sin definir.'}"></p>

<!-- Opcional: switch para el enum, más flexible para poder añadirle etiquetas html para cada opción -->
<p th:switch="${restaurant.foodType}">
 <span th:case="${ T(com.restaurantes.model.enums.FoodType).SPANISH }">🐂 Cocina <b>española</b></span>
 <span th:case="${ T(com.restaurantes.model.enums.FoodType).MEXICAN }">🌶️ Cocina <b>mexicana wey</b></span>
 <span th:case="${ T(com.restaurantes.model.enums.FoodType).JAPANESE }">🍙🍤 Cocina <b>japonesa</b></span>
 <span th:case="*">Sin definir, de todo un poco.</span>
</p>

<h2>Carta de platos</h2>

<p th:if="${dishes.isEmpty()}">No hay platos en este restaurante.</p>


<!-- bucle para mostrar los platos en una tabla -->
<table th:unless="${dishes.isEmpty()}">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
       <tr th:each="dish : ${dishes}">
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.description != null ? dish.description : 'Sin descripción.'}"></td>
            <td th:text="${dish.price + ' €'}"></td>

            <td th:if="${dish.active}">Disponible</td>
            <td th:unless="${dish.active}">Agotado</td>

           <td>
               <img
                   th:src="${dish.imageUrl != null ? dish.imageUrl : 'https://dummyjson.com/image/100'}"
                   alt="Imagen del plato"
                   width="100"/>
           </td>

           <td th:text="${dish.type}"></td>
           <td>
               <!-- TODO Añadir enlace <a th:href> que apunte a Detalle de Plato /platos/{id}
               requiere crear DishController y dish-detail.html y DishControllerTest -->
               <a th:href="@{/dishes/{id}(id=${dish.id})}">Ver plato</a>
           </td>
       </tr>
    </tbody>
</table>

<h2>Opiniones de nuestros clientes:</h2>

</body>
</html>